# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv
venv/
ENV/
env/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/
.rsynced-tests/

# Ruff
.ruff_cache/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

#random files
commit.txt